/* # Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* # Reset CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #b4d7fe;
  margin: 7% 0;
}

/* # General CSS */

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* # Material Symbol CSS */

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 200, 'opsz' 48;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 200, 'opsz' 48;
}

.material-symbols-sharp {
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 48;
}

/* # Main Containers */

.container {
  justify-content: center;
}

.main_container {
  height: 80%;
  width: 85%;
  border-radius: 45px;
  box-shadow: 0px 0px 20px #8eb0d6;
  display: flex;
  background-color: #5c9ce5;
}

/* # Left Side Of Container start*/

.main_left_side {
  height: 100%;
  width: 35%;
  border-radius: 45px 0 0 45px;
  padding: 3% 3% 0 3%;
}

/* #left header */

.main_left_header {
  height: fit-content;
}

.align {
  text-align: center;
}

.temp {
  font-size: 0.8rem;
  color: #ffffff;
}

.margin_left {
  margin-left: 2rem;
}

.color-size {
  color: #ffffff;
  font-size: 3rem;
}

/* # Left Content */

.left_content {
  /* height: fit-content; */
  margin-top: 4rem;
}

.city {
  color: #ffffff;
  font-size: 1.4rem;
}

.city span {
  font-size: 1.5rem;
  width: 20%;
  margin-right: -10px;
}

.time {
  color: #ffffff;
  font-size: 1.3rem;
  width: 30%;
}

.time span {
  font-size: 1.4rem;
  width: 20%;
  margin: 0 10px 0 10px;
}

.subtitle {
  margin-top: 8px;
}

.subtitle .city {
  font-size: 1.2rem;
}

/* # Main Temperature  */

.temperature {
  font-size: 8rem;
  color: #ffffff;
  font-weight: 900;
  margin-top: 50px;
}

.temperature p {
  text-align: center;
}

.temperature span {
  font-size: 1.8rem;
  width: 10%;
  color: #9dc3ef;
}

.sunny {
  margin-left: 70px;
  align-items: center;
  font-size: 2.2rem;
  color: #ffffff;
}

.sunny span {
  width: 8%;
}

/* # Image */
.main_left_side img {
  margin-top: 40px;
  height: 440px;
}

/* # Left Side Complete */

/* # Right side Container start */

.main_right_side {
  height: 100%;
  border-radius: 45px;
  background-color: #e4f1ff;
  padding: 4%;
}

/* # Right Header */

.right_content_left-header {
  font-size: 20px;
  letter-spacing: 1.5px;
}

.right_content_left-header p {
  font-weight: 600;
  margin-top: 5px;
}

.right_content_right-header {
  width: 22%;
}

.right_content_right-header span {
  width: 10%;
  font-size: 3rem;
  font-weight: 700;
}

.right_content_right-header img {
  width: 60px;
  border-radius: 25px;
}

/* # Right content */

.main_graph {
  background-color: #ffffff;
  border-radius: 40px;
  height: 300px;
  margin-top: 50px;
  padding: 2.5% 4%;
}

.cards_heading {
  margin-top: 50px;
}

.all_cards{
  margin-top: 30px;
}

.first_row {
  display: flex;
  gap: 3rem;
}

.second_row{
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
}

.card {
  height: 150px;
  background-color: #ffffff;
  border-radius: 40px;
}