/* # Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* # Reset CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #b4d7fe;
  margin: 7% 0;
}

/* # General CSS */

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* # Material Symbol CSS */

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 200, 'opsz' 48;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 200, 'opsz' 48;
}

.material-symbols-sharp {
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 48;
}

/* # Main Containers */

.container {
  justify-content: center;
}

.main_container {
  width: 95%;
  border-radius: 45px;
  box-shadow: 0px 0px 20px #8eb0d6;
  display: flex;
  background-color: #5c9ce5;
}

/* # Left Side Of Container start*/

.main_left_side {
  height: 100%;
  width: 35%;
  border-radius: 45px 0 0 45px;
  padding: 3% 3% 0 3%;
}

/* # left header */

.main_left_header {
  height: fit-content;
}

.align {
  text-align: center;
}

.temp {
  font-size: 0.8rem;
  color: #ffffff;
}

.margin_left {
  margin-left: 2rem;
}

.color-size {
  color: #ffffff;
  font-size: 2.5rem;
}

/* # Left Content */

.left_content {
  margin-top: 4rem;
}

.city {
  color: #ffffff;
  font-size: 1.2rem;
}

.city span {
  font-size: 1.3rem;
  width: 20%;
}

.time {
  color: #ffffff;
  font-size: 1.1rem;
  width: 30%;
}

.time span {
  font-size: 1.4rem;
  width: 20%;
  margin: 0 10px 0 10px;
}

.subtitle {
  margin-top: 6px;
}

.subtitle .city {
  font-size: 1rem;
}

/* # Main Temperature  */

.temperature {
  font-size: 7rem;
  color: #ffffff;
  font-weight: 900;
  margin-top: 50px;
}

.temperature p {
  text-align: center;
}

.temperature span {
  font-size: 1.6rem;
  width: 10%;
  color: #9dc3ef;
}

.sunny {
  margin-left: 55px;
  align-items: center;
  font-size: 1.7rem;
  color: #ffffff;
}

.sunny span {
  width: 8%;
}

/* # Image */
.main_left_side img {
  margin-top: 40px;
  height: 477px;
}

/* # Left Side Complete */

/* # Right side Container start */

.main_right_side {
  height: 100%;
  border-radius: 45px;
  background-color: #e4f1ff;
  padding: 3%;
}

/* # Right Header */

.right_content_left-header {
  letter-spacing: 1.5px;
}

.right_content_left-header p {
  font-weight: 600;
  margin-top: 5px;
}

.right_content_right-header {
  width: 18%;
}

.right_content_right-header span {
  width: 10%;
  font-size: 2.5rem;
  font-weight: 700;
}

.right_content_right-header img {
  width: 55px;
  border-radius: 20px;
}

/* # Right content */

.main_graph {
  background-color: #ffffff;
  border-radius: 40px;
  height: 300px;
  margin-top: 50px;
  padding: 2.5% 4%;
}

/* # Main graph starts */
.graph_title {
  display: flex;
}

.graph_filters {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.first_filter {
  font-size: 14px;
  background-color: #f1f1f1;
  color: #b3b3b3;
  width: 150px;
  border-radius: 10px;
  padding: 1px 10px;
}

.first_filter span {
  width: 10%;
  margin-right: 5px;
}

.second_filter {
  font-size: 14px;
  background-color: #f1f1f1;
  color: #060606;
  width: 99px;
  border-radius: 10px;
  padding: 1px 10px;
}

.second_filter span {
  width: 10%;
  margin-right: 5px;
}

.graph {
  margin-top: 30px;
}

.graph_section {
  width: 35px;
  text-align: center;
}

.graph_section h5 {
  font-size: 12px;
  margin-bottom: 5px;
}

.graph_section span {
  font-size: 20px;
}

.graph_section p {
  font-weight: 600;
  margin-top: 2px;
}

.graph_percent {
  justify-content: space-between;
  font-size: 13px;
  text-align: center;
}

.graph_percent p {
  width: 32px;
  position: relative;
  bottom: 46px;
}

.graph_line {
  margin: 0 auto;
  width: 96%;
  height: 100px;
  margin-top: 10px;
  justify-content: space-between;
}

.line {
  width: 0;
  border: 1px solid #999999;
  height: 100px;
  z-index: 1;
}

.graph_below_line {
  position: relative;
  bottom: 60px;
  width: 95.8%;
  margin: 0 auto;
  height: 50px;
  background-color: #5c9ce5;
}

/* # Main Graph End */

/* # Card section start */

.cards_heading {
  margin-top: 50px;
}

.all_cards {
  margin-top: 30px;
}

.first_row {
  display: flex;
  gap: 2rem;
}

.second_row {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.card {
  background-color: #ffffff;
  border-radius: 40px;
  padding: 3%;
}

.card_heading {
  justify-content: space-between;
}

.card_heading h5 {
  font-size: 16px;
}

.card_heading span {
  width: 32px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  padding: 2px 0;
  color: #ffffff;
  background-color: #5c9ce5;
}

.card_content {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 45%;
  margin: 8px auto 0;
  text-align: center;
}

.card_content h2 {
  font-size: 22px;
}

.card_content p {
  font-weight: 600;
  font-size: 17px;
}

.gap1 {
  gap: 15px;
}

.gap3 {
  gap: 5px;
}

.gap4 {
  gap: 10px;
}

.progress_report {
  color: #b0b0b0;
  margin-top: 5px;
  font-size: 15px;
}

.progress_report progress {
  height: 20px;
}

.progress_result {
  color: #b0b0b0;
  margin-top: 5px;
  font-size: 12px;
}

.progress_result progress {
  height: 20px;
}

.data {
  justify-content: space-between;
  color: #b0b0b0;
  margin-top: 5px;
  font-size: 12px;
}

.data p {
  width: 15%;
}

.progress progress {
  height: 20px;
}

/* # Semicircle Progress starts */
.progress_circle {
  position: relative;
  margin-left: 40px;
}

.barOverflow {
  /* Wraps the rotating .bar */
  position: relative;
  height: 70px; /* Half circle (overflow) */
  overflow: hidden; /* Comment this line to understand the trick */
}

.bar {
  position: absolute;
  width: 130px;
  height: 150px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 8px solid #eee;
  border-left-color: #5c9ce5;
}

/* # Semicircle progress ends */

.progress_arrow {
  text-align: center;
  font-size: 22px;
  margin-top: -55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress_arrow span {
  font-size: 40px;
  color: #5c9ce5;
}

/* # Card section Ends */
