* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #b4d7fe;
  height: 100vh;
  width: 100vw;
}

.container {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_container {
  /* border: 1px solid black; */
  height: 80%;
  width: 85%;
  border-radius: 45px;
  box-shadow: 0px 0px 20px #8eb0d6;
  display: flex;
  background-color: #5c9ce5;
  /* justify-content: space-between; */
}

.main_left_side {
  height: 100%;
  /* border: 1px solid black; */
  width: 40%;
  border-radius: 45px 0 0 45px;
  background-color: #5c9ce5;
}

.main_right_side {
  height: 100%;
  /* border: 1px solid black; */
  border-radius: 45px;
  background-color: #e4f1ff;
}
